# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.tgenv/
example/data/*
example/spm/*
example/checkpoint*
transformer_grammars/models/masking/cpp_masking.cpython-37m-x86_64-linux-gnu.so
